/* css for a modal */

.buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 1rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttonLabel {
    font-size: 1.2rem;
    font-weight: bold;
}

.confirmButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1rem 0;
}

.description {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem;
}